@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  box-sizing: border-box;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 100px rgb(249 250 251 / var(--tw-bg-opacity)) inset !important;
}

input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
  height: 1em;
  width: 1em;
  border-radius: 50%;
  background: black;
  color: white;
  font-size: 1em;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 768px) {
  input[type="search"]::-webkit-search-cancel-button {
    margin-right: 1em;
  }
}

input[type="search"]:after::-webkit-search-cancel-button {
  opacity: 1;
  color: white;
  pointer-events: all;
}

input[type="search"]:focus::-webkit-search-cancel-button {
  opacity: 1;
  color: white;
  cursor: pointer;
  pointer-events: all;
}

input[type="search"].dark::-webkit-search-cancel-button {
  filter: invert(1);
}

.article {
  padding: 16px 24px;
  position: relative;
  border-radius: 8px;
}

.button {
  display: inline-block;
  text-align: center;
  align-items: flex-start;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
}

.button:hover {
  background: linear-gradient(
    to,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  background-size: 500% 500%;
  animation: animateGlow 1.25s linear infinite;
}

.hero-card {
  position: relative;
  z-index: 1;
}

.hero-card::after {
  position: absolute;
  content: "";
  top: 15px;
  left: 0;
  right: 0;
  z-index: -1;
  height: 100%;
  width: 100%;
  filter: blur(15px);
  background: linear-gradient(
    to left,
    #ff5770,
    #e4428d,
    #c42da8,
    #9e16c3,
    #6501de,
    #9e16c3,
    #c42da8,
    #e4428d,
    #ff5770
  );
  opacity: 0.2;
  background-size: 200% 200%;
  -webkit-animation: animateGlow 10s ease infinite;
  animation: animateGlow 10s ease infinite;
}

.text-summarize {
  overflow: hidden;
  display: -webkit-box;
  text-overflow: "...";
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 10;
}

@media (prefers-color-scheme: light) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}

@-webkit-keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}

@keyframes animateGlow {
  0% {
    background-position: 0% 50%;
  }
  100% {
    background-position: 200% 50%;
  }
}
